/* initialisation du CSS
/* importation de la police de caractère depuis les téléchargements*/
body {
    font-family: 'MADE Soulmaze PERSONAL USE', sans-serif;
}
.btn-valider:active {
    transform: translate(4px, 4px); /* S'enfonce quand on clique */
    box-shadow: 2px 2px 0px black;
}
.sneaker-img {
     width: 70px;
     height: auto;
     
}